* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  padding: 20px;
  border: 2px solid black;
}

.places {
  margin-top: 30px;
  padding: 20px;
  border: 2px dashed gray;
}

.place {
  padding: 20px;
  border: 2px solid black;
}